{% extends 'text/base.html' %}
{%block body%}
        {% for log in all_logs %}
        <div class="col-sm-4 col-lg-2">
                  <div class="thumbnail">
                      <h2><a href="{% url 'text:detail' log.id %}">
                          {{ log.title }}<small>  by {{log.user}}</small>
                      </a></h2>
                      <h5>created on: <br> {{log.date}}</h5>
                      <div class="caption">
                          <!-- View Details -->
                          <a href="{% url 'text:detail' log.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                          <!-- Delete Log -->
                          <form action="{% url 'text:log-delete' log.id%}" method="post" style="display: inline;">
                              {% csrf_token %}
                              <input type="hidden" name="log_id" value="{{ log.id }}" />
                              <button type="submit" class="btn btn-default btn-sm">
                                  <span class="glyphicon glyphicon-trash"></span>
                              </button>
                          </form>

                          <!-- Favorite Log -->
                          <a href="#" class="btn btn-default btn-sm btn-favorite">
                              <span class="glyphicon glyphicon-star {% if log.is_favorite %}active{% endif %}"></span>
                          </a>

                      </div>
                  </div>
              </div>
        {% endfor %}
        {% if entries %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Entries</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Entry Title</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th>Log</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in entries %}
                                    <tr>
                                      <td>
                                          <a href="{% url 'text:detail' log.id %}" class="btn-favorite">{{entry.log.title}}</a>
                                      </td>
                                        <td>{{ entry.title }}</td>
                                        <td>{{ entry.log.category }}</td>
                                        <td>
                                            {{ entry.date }}
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{%endblock%}
